.app-container {
    max-width: 1150px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box-flex {
    flex: 1;
    padding: 30px;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
