.component1 {
    .title {
        text-align: left;
        font-weight: 600;
        color: $colorDeco;
        margin-top: 50px;
    }

    .text {
        margin-top: 20px;
        text-align: left;
        font-size: 16px;

    }

    img {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}