.footer {
  background: #181818;

  .title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    text-align: left;
    width: 100%;
    margin: 50px 0 10px 0;
    padding: 0;
  }

  .text {
    font-size: 15px;
    margin: 5px 0;
  }

  span {
    font-weight: 600;
    padding-right: 5px;
  }

  a {
    color: $colorDeco;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: $colorDeco2;
    }
  }

  .about {
    min-width: 450px;
  }




  .container-flex {
    .box-flex {
      height: 300px;
      text-align: left;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 10px;
    }

    .privacy {
      min-width: 180px;
      display: flex;
      align-items: center;

      h2 {
        text-align: center;
      }
    }
  }

  .container-flex:nth-of-type(2) {
    height: 70px;
    background: #111111;
    justify-content: center;

    p {
      font-size: 12px;
      letter-spacing: 0.5px;
    }
  }
}