.home-classes {
  margin-top: 50px;

  .container-flex {
    justify-content: center;
    flex-direction: column;
  }

  .title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
  }

  .button {
    margin-top: 50px;
    width: 200px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
