  $colorLight: #F8F8F8;
  $colorGrey: #E7E7E7;
  $colorDarkGrey: #777676;
  $colorDarkestGrey:#5c5b5b;
  $colorDark: rgb(10, 4, 7);
  $colorDeco: #3464A0;
  $colorDeco2: rgb(41, 82, 133);

  $fontPrimary: 'Montserrat',
  sans-serif;
  $fontDeco: 'Dancing Script',
  cursive;