  $colorLight: #F8F8F8;
  $colorGrey: #E7E7E7;
  $colorDarkGrey: #777676;
  $colorDarkestGrey:#686868;
  $colorDark: rgb(10, 4, 7);
  $colorDeco: #7B4564;
  $colorDeco2: rgb(180, 102, 146);


  $fontPrimary: 'Lato',
  sans-serif;
  $fontDeco: 'Dancing Script',
  cursive;