  
$colorLight: #F8F8F8;
$colorGrey: #E7E7E7;
$colorDarkGrey: #777676; 
$colorDarkestGrey:#686868; 
$colorDark:  rgb(70, 30, 52);
$colorDeco: #7B4564;
$colorDeco2: #EECBC8;

$fontPrimary: 'Lato', sans-serif;
$fontDeco: 'Dancing Script', cursive;
   

// <i class="fab fa-facebook-square"></i>
// <i class="fab fa-instagram"></i>
