* {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
color: #8546c0;
}

.logo {
  margin: 0;
  padding: 0;
  position: relative;
  width: 500px;

 h1 {
   margin: 0;
   padding: 20px;
 }
}

span {
  font-size: 45px;
  position: absolute;
  bottom: 0;
  right: -20px;
  color: #cc245c;
}


@import "../src/styles/main.scss";
